In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
train=pd.read_csv('train.csv')

In [3]:
test=pd.read_csv('test.csv')

In [4]:
macro=pd.read_excel('macro_economic.xlsx')

In [5]:
weath=pd.read_excel('weather1.xlsx')

In [6]:
print('Columns of train:',train.columns)
print('Columns of test:',test.columns)
print('Columns of macro:',macro.columns)
print('Columns of weather:',weath.columns)

Columns of train: Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')
Columns of test: Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')
Columns of macro: Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports'],
      dtype='object')
Columns of weather: Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [7]:
macro['Year'] = macro['Year-Month'].str[:4].astype(int)
macro['Month'] = macro['Year-Month'].str[-3:].replace({'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,
                                'Sep':9,'Oct':10,'Nov':11,'Dec':12})

In [8]:
macro=macro.drop(['Year-Month','AdvertisingExpenses (in Thousand Dollars)','PartyInPower'],axis=1)

In [9]:
macro.isnull().sum()

Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
Year                                                                 0
Month                                                                0
dtype: int64

In [10]:
weath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 23 columns):
Year                           2922 non-null int64
Month                          2922 non-null object
Day                            2922 non-null int64
Temp high (°C)                 2922 non-null object
Temp avg (°C)                  2922 non-null object
Temp low (°C)                  2922 non-null object
Dew Point high (°C)            2922 non-null object
Dew Point avg (°C)             2922 non-null object
Dew Point low (°C)             2922 non-null object
Humidity (%) high              2922 non-null object
Humidity (%) avg               2922 non-null object
Humidity (%) low               2922 non-null object
Sea Level Press. (hPa) high    2922 non-null object
Sea Level Press. (hPa) avg     2922 non-null object
Sea Level Press. (hPa) low     2922 non-null object
Visibility (km) high           2922 non-null object
Visibility (km) avg            2922 non-null object
Visibility (km) low            2922 non-null object
Wind (km/h) low                2922 non-null object
Wind (km/h) avg                2922 non-null object
Wind (km/h) high               2922 non-null object
Precip. (mm) sum               2922 non-null object
WeatherEvent                   1014 non-null object
dtypes: int64(2), object(21)
memory usage: 525.2+ KB

In [11]:
weath['Month'].value_counts()

Oct    248
May    248
Aug    248
Jul    248
Mar    248
Jan    248
Dec    248
Nov    240
Apr    240
Jun    240
Sep    240
Feb    226
Name: Month, dtype: int64

In [12]:
weath.isnull().sum()

Year                              0
Month                             0
Day                               0
Temp high (°C)                    0
Temp avg (°C)                     0
Temp low (°C)                     0
Dew Point high (°C)               0
Dew Point avg (°C)                0
Dew Point low (°C)                0
Humidity (%) high                 0
Humidity (%) avg                  0
Humidity (%) low                  0
Sea Level Press. (hPa) high       0
Sea Level Press. (hPa) avg        0
Sea Level Press. (hPa) low        0
Visibility (km) high              0
Visibility (km) avg               0
Visibility (km) low               0
Wind (km/h) low                   0
Wind (km/h) avg                   0
Wind (km/h) high                  0
Precip. (mm) sum                  0
WeatherEvent                   1908
dtype: int64

In [13]:
weath['WeatherEvent'].value_counts()

Rain                 685
Fog , Rain           156
Snow                  72
Fog , Snow            39
Rain , Snow           27
Fog , Rain , Snow     22
Fog                   12
Thunderstorm           1
Name: WeatherEvent, dtype: int64

In [14]:
weath['Precip.\xa0(mm) sum'].value_counts()

0         1754
T          205
0.25        86
0.51        57
0.76        45
          ...
28.7         1
46.23        1
147.57       1
33.53        1
39.37        1
Name: Precip. (mm) sum, Length: 179, dtype: int64

In [15]:
for c in weath.columns:
    print( "---- %s ---" % c)
    print(weath[c].value_counts())

---- Year ---
2016    366
2012    366
2015    365
2013    365
2011    365
2009    365
2014    365
2010    365
Name: Year, dtype: int64
---- Month ---
Oct    248
May    248
Aug    248
Jul    248
Mar    248
Jan    248
Dec    248
Nov    240
Apr    240
Jun    240
Sep    240
Feb    226
Name: Month, dtype: int64
---- Day ---
1     96
28    96
4     96
6     96
8     96
10    96
12    96
14    96
16    96
18    96
20    96
22    96
24    96
26    96
2     96
3     96
5     96
7     96
9     96
11    96
13    96
15    96
17    96
19    96
21    96
23    96
25    96
27    96
29    90
30    88
31    56
Name: Day, dtype: int64
---- Temp high (°C) ---
28      140
27      124
29      114
22      112
18      110
26      109
23      104
21      100
12       98
31       97
14       96
8        92
17       90
19       89
7        88
24       87
4        86
16       86
13       84
32       83
11       80
6        73
3        70
9        66
2        59
30       54
10       53
1        52
15       50
33       50
-1       44
25       42
20       42
34       35
5        28
0        28
-3       21
-2       20
36       14
-6       12
-4        8
35        7
-7        6
-5        5
38        3
37        2
-9        2
-8        2
-         2
39        1
40        1
high      1
Name: Temp high (°C), dtype: int64
---- Temp avg (°C) ---
24     148
23     125
26     119
22     115
16     110
12     110
19     110
17     110
4      109
8      102
9      100
13      96
21      95
6       92
18      91
11      90
7       90
27      90
14      87
1       85
28      79
2       79
3       74
10      64
25      57
-1      55
-3      55
20      53
-2      49
15      46
-4      38
5       38
29      31
0       29
-7      18
-6      17
30      12
31      11
-9       9
-8       6
-5       6
-10      5
32       5
-11      4
33       2
-        2
34       1
avg      1
-14      1
-12      1
Name: Temp avg (°C), dtype: int64
---- Temp low (°C) ---
18     135
21     128
2      128
19     127
12     120
6      118
22     114
16     106
3      106
8      106
14     103
7      100
17      99
13      98
11      97
4       96
1       91
-1      88
9       87
-2      83
23      80
20      74
10      65
5       64
-4      62
-3      59
24      51
0       42
15      42
-6      40
-7      40
-8      28
-5      24
-9      24
-11     20
26      17
25      13
-13     11
-10      8
27       7
-16      4
-12      4
-14      4
28       3
-        2
-17      1
-18      1
low      1
29       1
Name: Temp low (°C), dtype: int64
---- Dew Point high (°C) ---
18      138
16      132
14      128
21      125
13      124
19      120
22      118
8       101
12       98
17       97
11       96
-1       93
6        92
9        90
-2       89
1        89
2        84
7        80
4        79
3        76
23       75
20       74
-3       72
-6       64
-7       60
10       59
-4       54
5        51
15       50
0        45
-11      36
-5       32
24       31
-8       31
-9       25
-12      23
-10      20
-13      17
-14      10
-16      10
-17       7
25        7
26        4
-15       4
-18       3
-21       3
-         2
-19       1
-22       1
-24       1
high      1
Name: Dew Point high (°C), dtype: int64
---- Dew Point avg (°C) ---
12     132
18     121
16     118
11     113
14     111
17     108
19     103
-1     101
13     101
6      100
-2      98
-4      93
4       91
9       90
7       89
21      87
3       87
8       86
1       84
-3      81
2       77
-6      77
-8      73
-7      57
-9      57
0       54
-12     50
15      48
22      45
-13     43
20      41
-5      40
-11     40
5       39
10      36
-14     30
-16     24
-17     18
23      15
-10     15
-18     15
-19     10
-15      7
-20      3
-22      3
-        2
-21      2
24       2
-24      2
-27      1
-23      1
avg      1
Name: Dew Point avg (°C), dtype: int64
---- Dew Point low (°C) ---
12     116
9      115
13     112
-4     105
11     104
-3      99
8       98
17      95
-8      93
14      93
-2      92
-6      91
1       90
-7      88
16      87
4       83
7       82
6       80
-1      79
2       75
3       74
-9      70
19      66
-11     66
18      60
-16     54
-5      54
-13     53
-12     53
10      51
5       50
-14     44
15      38
-10     37
0       36
-18     35
-17     32
-19     30
-15     30
21      29
-21     20
20      18
-22     12
-20     10
-24      6
-25      5
-27      4
-23      2
-        2
22       2
-28      1
low      1
Name: Dew Point low (°C), dtype: int64
---- Humidity (%) high ---
100     326
93      281
84       97
92       90
70       82
       ...
34        1
high      1
35        1
40        1
28        1
Name: Humidity (%) high, Length: 67, dtype: int64
---- Humidity (%) avg ---
54     97
56     82
58     79
48     78
63     75
       ..
-       2
28      1
96      1
20      1
avg     1
Name: Humidity (%) avg, Length: 76, dtype: int64
---- Humidity (%) low ---
34     94
38     91
44     87
40     86
36     85
       ..
-       2
low     1
13      1
92      1
9       1
Name: Humidity (%) low, Length: 84, dtype: int64
---- Sea Level Press. (hPa) high ---
1020    172
1021    171
1016    171
1017    166
1019    161
1022    161
1023    147
1014    146
1015    143
1024    127
1025    117
1013    110
1026    106
1012    104
1027     97
1018     97
1028     75
1011     72
1029     67
1030     62
1010     52
1031     41
1032     41
1009     40
1008     38
1007     29
1033     25
1006     21
-        19
1035     19
1034     18
1005     16
1036     14
1004     13
1037     11
1003     11
1038     11
1039      5
1041      4
1040      3
1001      3
1002      3
1000      3
1044      2
1042      1
1043      1
high      1
994       1
995       1
998       1
999       1
996       1
Name: Sea Level Press. (hPa) high, dtype: int64
---- Sea Level Press. (hPa) avg ---
1016    166
1014    165
1012    164
1015    161
1019    156
1017    148
1013    148
1020    142
1011    137
1022    131
1021    129
1018    119
1023    108
1010    103
1009     93
1025     79
1024     71
1008     69
1007     62
1026     57
1006     56
1027     51
1005     46
1028     42
1029     33
1004     30
1030     29
1031     28
1002     27
1003     23
1000     21
-        19
1033     14
1001     13
1032     13
999       9
1036      8
994       6
998       6
1035      5
1037      4
997       4
1034      4
996       4
993       4
1038      3
992       2
1041      2
avg       1
989       1
991       1
990       1
988       1
987       1
1040      1
980       1
Name: Sea Level Press. (hPa) avg, dtype: int64
---- Sea Level Press. (hPa) low ---
1013    174
1011    170
1012    168
1015    161
1014    148
1009    147
1016    143
1010    143
1020    126
1019    121
1008    120
1017    104
1007     97
1006     94
1021     87
1018     82
1004     73
1023     71
1005     66
1022     60
1003     55
1024     49
1025     47
1002     42
1001     41
1026     32
1027     29
1000     28
999      27
998      27
-        19
997      18
1028     17
1029     17
994      15
996      14
993       9
995       9
1030      8
1032      8
989       8
1031      6
992       5
1033      4
983       4
991       4
986       3
987       3
988       3
1036      2
990       2
1034      2
1037      2
966       2
1035      1
984       1
low       1
978       1
982       1
980       1
Name: Sea Level Press. (hPa) low, dtype: int64
---- Visibility (km) high ---
16      2794
14        52
-         28
13        25
11        13
10         7
8          2
high       1
Name: Visibility (km) high, dtype: int64
---- Visibility (km) avg ---
16     1619
15      238
14      204
13      124
9       115
10      113
12      106
11       90
8        83
7        81
6        65
5        38
-        28
4        10
3         5
avg       1
2         1
1         1
Name: Visibility (km) avg, dtype: int64
---- Visibility (km) low ---
16     1274
1       240
2       201
3       185
14      179
13      135
11      130
0       121
6       106
10      105
8        87
4        78
5        52
-        28
low       1
Name: Visibility (km) low, dtype: int64
---- Wind (km/h) low ---
21     377
19     360
23     316
16     302
24     293
26     242
27     214
14     185
29     138
32      98
34      94
13      80
35      57
37      37
11      26
40      20
-       20
39      19
42       9
10       8
48       6
47       5
45       4
50       2
52       2
8        2
low      1
60       1
61       1
121      1
159      1
6        1
Name: Wind (km/h) low, dtype: int64
---- Wind (km/h) avg ---
7      338
8      335
9      328
6      296
5      268
10     226
11     191
12     150
4      150
13     119
14     119
3       76
15      60
16      56
17      47
18      33
19      28
2       22
-       20
20      20
22       8
23       7
21       5
24       4
1        4
25       3
0        3
avg      1
26       1
28       1
30       1
37       1
159      1
Name: Wind (km/h) avg, dtype: int64
---- Wind (km/h) high ---
35      229
27      208
32      206
29      194
37      189
26      188
34      159
40      150
39      141
42      127
31      120
24      115
23      107
45       90
48       76
47       65
21       59
-        59
50       57
52       51
43       49
53       41
19       34
56       32
58       30
55       22
60       17
64       16
63       14
61       14
18       12
69       11
66       10
16        8
71        4
72        3
14        3
74        2
68        2
high      1
76        1
77        1
85        1
97        1
100       1
159       1
11        1
Name: Wind (km/h) high, dtype: int64
---- Precip. (mm) sum ---
0         1754
T          205
0.25        86
0.51        57
0.76        45
          ...
28.7         1
46.23        1
147.57       1
33.53        1
39.37        1
Name: Precip. (mm) sum, Length: 179, dtype: int64
---- WeatherEvent ---
Rain                 685
Fog , Rain           156
Snow                  72
Fog , Snow            39
Rain , Snow           27
Fog , Rain , Snow     22
Fog                   12
Thunderstorm           1
Name: WeatherEvent, dtype: int64

In [16]:
for i in weath.columns:
    weath[i]=weath[i].replace('-',np.nan)

In [17]:
print(weath.loc[weath['Wind\xa0(km/h) high'] == 'high'])

      Year Month  Day Temp high (°C) Temp avg (°C) Temp low (°C)  \
1826  2014   Jan    1           high           avg           low

     Dew Point high (°C) Dew Point avg (°C) Dew Point low (°C)  \
1826                high                avg                low

     Humidity (%) high  ... Sea Level Press. (hPa) avg  \
1826              high  ...                        avg

     Sea Level Press. (hPa) low Visibility (km) high Visibility (km) avg  \
1826                        low                 high                 avg

     Visibility (km) low Wind (km/h) low Wind (km/h) avg Wind (km/h) high  \
1826                 low             low             avg             high

     Precip. (mm) sum WeatherEvent
1826              sum          NaN

[1 rows x 23 columns]

In [18]:
weath.drop(weath.index[1826],inplace=True)

In [19]:
print(weath.loc[weath['Wind\xa0(km/h) high'] == 'high'])

Empty DataFrame
Columns: [Year, Month, Day, Temp high (°C), Temp avg (°C), Temp low (°C), Dew Point high (°C), Dew Point avg (°C), Dew Point low (°C), Humidity (%) high, Humidity (%) avg, Humidity (%) low, Sea Level Press. (hPa) high, Sea Level Press. (hPa) avg, Sea Level Press. (hPa) low, Visibility (km) high, Visibility (km) avg, Visibility (km) low, Wind (km/h) low, Wind (km/h) avg, Wind (km/h) high, Precip. (mm) sum, WeatherEvent]
Index: []

[0 rows x 23 columns]

In [20]:
weath=weath.drop(['Precip.\xa0(mm) sum','WeatherEvent'],axis=1)

In [21]:
weath['Month']=weath['Month'].replace({'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,
                                'Sep':9,'Oct':10,'Nov':11,'Dec':12})

In [22]:
weath.dropna(inplace=True)

In [23]:
for i in weath.columns:
    weath[i]=weath[i].astype(float)

In [24]:
weath['Year']=weath['Year'].astype('int64')

In [25]:
weath['Month']=weath['Month'].astype('int64')

In [26]:
weath.dtypes

Year                             int64
Month                            int64
Day                            float64
Temp high (°C)                 float64
Temp avg (°C)                  float64
Temp low (°C)                  float64
Dew Point high (°C)            float64
Dew Point avg (°C)             float64
Dew Point low (°C)             float64
Humidity (%) high              float64
Humidity (%) avg               float64
Humidity (%) low               float64
Sea Level Press. (hPa) high    float64
Sea Level Press. (hPa) avg     float64
Sea Level Press. (hPa) low     float64
Visibility (km) high           float64
Visibility (km) avg            float64
Visibility (km) low            float64
Wind (km/h) low                float64
Wind (km/h) avg                float64
Wind (km/h) high               float64
dtype: object

In [27]:
macro.dtypes

Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Year                                                                   int32
Month                                                                  int64
dtype: object

In [28]:
weath.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high
0,2009,1,1.0,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,...,32.0,1025.0,1023.0,1015.0,16.0,16.0,16.0,37.0,18.0,60.0
1,2009,1,2.0,1.0,-2.0,-5.0,-3.0,-7.0,-17.0,78.0,...,36.0,1022.0,1012.0,1007.0,16.0,13.0,2.0,27.0,10.0,48.0
2,2009,1,3.0,3.0,1.0,-2.0,-5.0,-9.0,-13.0,72.0,...,35.0,1018.0,1015.0,1008.0,16.0,16.0,16.0,27.0,16.0,42.0
3,2009,1,4.0,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,...,29.0,1020.0,1017.0,1015.0,16.0,16.0,16.0,32.0,12.0,40.0
4,2009,1,5.0,6.0,5.0,3.0,-1.0,-5.0,-16.0,62.0,...,33.0,1016.0,1014.0,1013.0,16.0,16.0,16.0,23.0,11.0,34.0

In [29]:
weath['Year'].value_counts()

2013    364
2009    361
2010    360
2012    357
2016    353
2015    352
2011    352
2014    350
Name: Year, dtype: int64

In [30]:
y1 = weath[weath["Year"]== 2009]
y1_V = y1.groupby("Month", as_index=False).agg("mean")
y2 = weath[weath["Year"]== 2010]
y2_V = y2.groupby("Month", as_index=False).agg("mean")
y3 = weath[weath["Year"]== 2011]
y3_V = y3.groupby("Month", as_index=False).agg("mean")
y4 = weath[weath["Year"]== 2012]
y4_V = y4.groupby("Month", as_index=False).agg("mean")
y5 = weath[weath["Year"]== 2013]
y5_V = y5.groupby("Month", as_index=False).agg("mean")
y6 = weath[weath["Year"]== 2014]
y6_V = y6.groupby("Month", as_index=False).agg("mean")
y7 = weath[weath["Year"]== 2015]
y7_V = y7.groupby("Month", as_index=False).agg("mean")
y8 = weath[weath["Year"]== 2016]
y8_V = y8.groupby("Month", as_index=False).agg("mean")

In [31]:
weath=pd.concat([y1_V,y2_V,y3_V,y4_V,y5_V,y6_V,y7_V,y8_V])

In [32]:
weath=weath.drop('Day',axis=1)

In [33]:
train['Datatype']='train'
test['Datatype']='test'

In [34]:
#test=test[train.columns]
d1=pd.concat([train,test],axis=0)

In [35]:
d1.head(2)

   Year  Month ProductCategory  Sales(In ThousandDollars) Datatype
0  2009      1   WomenClothing                     1755.0    train
1  2009      1     MenClothing                      524.0    train

In [36]:
d1.shape

(252, 5)

In [37]:
d1['ProductCategory']=d1['ProductCategory'].replace(['MenClothing','WomenClothing','OtherClothing'],[1,2,3])

In [38]:
d2=pd.merge(d1,macro)

In [39]:
d2.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Datatype,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009,1,2,1755.0,train,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009,1,1,524.0,train,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
2,2009,1,3,936.0,train,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
3,2009,2,2,1729.0,train,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10
4,2009,2,1,496.0,train,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10

In [40]:
df=pd.merge(d2,weath)

In [41]:
df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Datatype,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,...,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high
0,2009,1,2,1755.0,train,14421.752895,14407.053343,233.402,7.8,12.03,...,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581
1,2009,1,1,524.0,train,14421.752895,14407.053343,233.402,7.8,12.03,...,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581
2,2009,1,3,936.0,train,14421.752895,14407.053343,233.402,7.8,12.03,...,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581
3,2009,2,2,1729.0,train,14389.200466,14366.176571,234.663,8.3,12.97,...,38.107143,1021.714286,1017.071429,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857
4,2009,2,1,496.0,train,14389.200466,14366.176571,234.663,8.3,12.97,...,38.107143,1021.714286,1017.071429,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857

In [42]:
df.shape

(252, 38)

In [43]:
df=pd.get_dummies(data=df, columns=['Month', 'ProductCategory'])

In [44]:
df.columns

Index(['Year', 'Sales(In ThousandDollars)', 'Datatype',
       'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
       'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
       'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
       'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg',
       'Sea Level Press. (hPa) low', 'Visibility (km) high',
       'Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
       'Wind (km/h) avg', 'Wind (km/h) high', 'Month_1', 'Month_2', 'Month_3',
       'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12', 'ProductCategory_1',
       'ProductCategory_2', 'ProductCategory_3'],
      dtype='object')

In [ ]:
d = d.drop(['Temp high (°C)'],axis=1)
d = d.drop(['Temp low (°C)'],axis=1)
d = d.drop(['Dew Point high (°C)'],axis=1)
d = d.drop(['Dew Point low (°C)'],axis=1)
d = d.drop(['Humidity (%) high'],axis=1)
d = d.drop(['Humidity (%) low'],axis=1)
d = d.drop(['Visibility (km) high'],axis=1)
d = d.drop(['Visibility (km) low'],axis=1)
d = d.drop(['Wind (km/h) high'],axis=1)
d = d.drop(['Wind (km/h) low'],axis=1)
d = d.drop(['Sea Level Press. (hPa) high'],axis=1)
d = d.drop(['Sea Level Press. (hPa) low'],axis=1)

In [45]:
df_train=df[df['Datatype']=='train']
del df_train['Datatype']
df_test=df[df['Datatype']=='test']
df_test.drop(['Datatype'],axis=1,inplace=True)

In [46]:
del df

In [47]:
df_train['Sales(In ThousandDollars)']=df_train['Sales(In ThousandDollars)'].fillna(method='ffill')

In [48]:
df_test=df_test.drop('Sales(In ThousandDollars)',axis=1)

In [49]:
X=df_train.drop('Sales(In ThousandDollars)',axis=1)
y=df_train['Sales(In ThousandDollars)']

In [76]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, fbeta_score, accuracy_score

In [72]:
clf = DecisionTreeRegressor()

parameters = {'max_depth':(1,2,3,4,5,6,7,8,9,10)},{'min_samples_split': (0.1,0.2,0.3,0.4,0.5)},
{'min_samples_leaf': (1,2,3,4,5,6,7)},{'min_weight_fraction_leaf': (0.0,0.1,0.2)}

#scorer = make_scorer(fbeta_score,beta=0.5)

grid_obj = GridSearchCV(clf, param_grid = parameters)
grid_fit = grid_obj.fit(X,y)

best_clf = grid_fit.best_estimator_
predictions = (clf.fit(X, y)).predict(df_test)
best_predictions = best_clf.predict(df_test)

In [73]:
best_clf

DecisionTreeRegressor(criterion='mse', max_depth=1, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [74]:
from sklearn.ensemble import AdaBoostRegressor


regr2 = AdaBoostRegressor(DecisionTreeRegressor(max_depth=1,criterion='mse',min_samples_leaf=1,
                      min_samples_split=2),n_estimators=100, random_state=None)

regr2.fit(X,y)

pred_new =(regr2.predict(df_test))

In [75]:
pred_new

array([3352.54945055, 1723.48648649, 1723.48648649, 3100.65384615,
       1723.48648649, 1723.48648649, 3100.65384615, 1723.48648649,
       1723.48648649, 3100.65384615, 1723.48648649, 1723.48648649,
       3352.54945055, 1723.48648649, 1723.48648649, 3100.65384615,
       1723.48648649, 1723.48648649, 3100.65384615, 1723.48648649,
       1723.48648649, 3180.45783133, 1723.48648649, 1723.48648649,
       3180.45783133, 1723.48648649, 1723.48648649, 3180.45783133,
       1723.48648649, 1723.48648649, 3352.54945055, 1723.48648649,
       1723.48648649, 3414.33333333, 1723.48648649, 1723.48648649])

In [71]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':pred_new})
submitdf.to_csv('new.csv',index=False)

In [77]:
from sklearn.ensemble import RandomForestRegressor
rfg=RandomForestRegressor(random_state=1)
param_dist = {'n_estimators': (1,3,5,14,10,20,50),'max_depth': [2, 3, 4,10],'bootstrap': [True, False],
              'max_features': ['auto', 'sqrt', 'log2', None],
              'criterion': ['mse', 'mae']}

cv_rf = GridSearchCV(rfg, cv = 5 ,param_grid=param_dist, n_jobs = 3)
cv_rf.fit(X,y)
rfpred=cv_rf.predict(df_test)

C:\Users\RADHAKRISHNA\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [79]:
rfpred

array([3528.5,  669. , 1049. , 3528.5,  669. , 1049. , 3528.5,  669. ,
       1049. , 3528.5,  669. , 1049. , 3528.5,  669. , 1049. , 3528.5,
        669. , 1049. , 3528.5,  669. , 1049. , 3528.5,  669. , 1049. ,
       3528.5,  669. , 1049. , 3528.5,  669. , 1049. , 3528.5,  669. ,
       1049. , 3528.5,  669. , 1049. ])

In [81]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':rfpred})
submitdf.to_csv('new.csv',index=False)

In [88]:
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor
from sklearn.model_selection import RandomizedSearchCV,ShuffleSplit

In [105]:
ada_classifier = AdaBoostRegressor(random_state=42)
#cv_sets = ShuffleSplit(random_state = 4) # shuffling our data for cross-validation
parameters = {'n_estimators':(1,200,2), 
              'learning_rate':[0.05, 0.1, 0.15, 0.2]}
#scorer = make_scorer(f1_score)
ada_obj = RandomizedSearchCV(ada_classifier, 
                              parameters, 
      #                        scoring = scorer, 
    #                          cv = cv_sets,
                              random_state= 99)
ada_fit = ada_obj.fit(X, y)
ada_opt = ada_fit.best_estimator_

In [106]:
ada_fit.best_params_

{'n_estimators': 200, 'learning_rate': 0.1}

In [107]:
ada_opt

AdaBoostRegressor(base_estimator=None, learning_rate=0.1, loss='linear',
                  n_estimators=200, random_state=42)

In [108]:
ada_obj = AdaBoostRegressor(learning_rate = 0.1,
                             n_estimators = 200,
                            loss='linear',
                             random_state=1)
ada_opt = ada_obj.fit(X, y)

In [109]:
y_pred_ada = ada_opt.predict(df_test)
y_pred_ada

array([3918.57692308,  937.        , 1069.        , 3793.18518519,
        902.72093023, 1056.        , 3816.125     ,  904.86440678,
       1056.        , 3793.67857143,  913.81081081, 1056.        ,
       3883.13636364, 1193.16666667, 1056.        , 3711.44444444,
        959.26315789, 1056.        , 3711.44444444, 1453.02564103,
       1124.        , 3762.31578947, 1812.03448276, 1124.76923077,
       3843.28      , 1320.30769231, 1056.        , 3843.28      ,
        940.73381295, 1056.        , 3894.03030303, 1388.41666667,
       1078.18181818, 4632.55172414,  974.42622951, 1140.03389831])

In [110]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':y_pred_ada})
submitdf.to_csv('new.csv',index=False)

In [114]:
from sklearn.ensemble import GradientBoostingRegressor
GBC_regressor = GradientBoostingRegressor(random_state=42)
#cv_sets = ShuffleSplit(random_state = 4) # shuffling our data for cross-validation
parameters = {'n_estimators':(1,500,2), 
              'learning_rate':[0.01, 0.03, 0.05],
              'min_samples_split':[2,4,6],
              'min_samples_leaf':[3,5,7]}
#scorer = make_scorer(f1_score)
GBC_obj = RandomizedSearchCV(GBC_regressor, 
                             parameters, 
    #                         scoring = scorer, 
 #                            cv = cv_sets,
                             random_state= 99)
GBC_fit = GBC_obj.fit(X, y)
GBC_opt = GBC_fit.best_estimator_

In [115]:
GBC_opt

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.03, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=5, min_samples_split=6,
                          min_weight_fraction_leaf=0.0, n_estimators=500,
                          n_iter_no_change=None, presort='auto',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [116]:
GBC_fit.best_params_

{'n_estimators': 500,
 'min_samples_split': 6,
 'min_samples_leaf': 5,
 'learning_rate': 0.03}

In [117]:
GBC_obj = GradientBoostingRegressor(learning_rate = 0.03,
                                    criterion='friedman_mse',
                                     max_depth = 3,
                                     min_samples_leaf = 5,
                                     min_samples_split = 6,
                                     n_estimators = 500,
                                     random_state=42)
GBC_opt = GBC_obj.fit(X, y)

In [118]:
y_pred_gbc = GBC_opt.predict(df_test)
y_pred_gbc

array([4057.97868447, 1030.18228388, 1607.49840034, 4216.98173401,
        954.0453447 , 1511.52392047, 4282.96482136,  907.67855593,
       1504.46900759, 4490.88055676, 1287.43065083, 1441.72042185,
       4495.72451679, 1438.05114349, 1618.85495955, 4106.0749495 ,
       1023.28630741, 1442.03017152, 3898.46141003,  974.9849434 ,
       1095.33190174, 4039.45282128, 1270.78063717,  871.76152628,
       4591.84946866, 1452.91896051, 1354.8825118 , 4464.1112561 ,
       1332.79012109, 1493.15987638, 4578.12771758, 1790.00711175,
       1556.42173109, 5186.10085527, 1072.7964797 , 1702.09820865])

In [119]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':y_pred_ada})
submitdf.to_csv('new.csv',index=False)

In [121]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/5e/49/b95c037b717b4ceadc76b6e164603471225c27052d1611d5a2e832757945/xgboost-0.90-py2.py3-none-win_amd64.whl (18.3MB)
Requirement already satisfied: numpy in c:\users\radhakrishna\appdata\local\continuum\anaconda3\lib\site-packages (from xgboost) (1.16.4)
Requirement already satisfied: scipy in c:\users\radhakrishna\appdata\local\continuum\anaconda3\lib\site-packages (from xgboost) (1.3.1)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [122]:
from xgboost import XGBRegressor

In [124]:
xb=XGBRegressor()
xb.fit(X,y)
xpred=xb.predict(df_test)

[16:14:23] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [126]:
xpred

array([3691.5603, 1179.948 , 1455.5898, 4015.7937, 1136.9655, 1422.8804,
       4205.017 , 1203.9268, 1428.5912, 4393.0034, 1217.4998, 1499.6853,
       4485.1436, 1364.7817, 1462.957 , 3950.719 , 1253.0756, 1353.5796,
       4147.7427, 1289.4866, 1257.4517, 4015.34  , 1328.894 , 1154.372 ,
       4152.864 , 1369.5875, 1039.4946, 4006.4766, 1262.0994, 1307.1486,
       4428.9014, 1422.5687, 1487.6763, 4935.8057, 1067.6829, 1644.3497],
      dtype=float32)

In [127]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':xpred})
submitdf.to_csv('new.csv',index=False)

In [136]:
model=DecisionTreeRegressor()
ada_obj = AdaBoostRegressor(base_estimator=model,
    learning_rate = 0.01,
                             n_estimators = 100,
                        
                             random_state=100)
ada_opt = ada_obj.fit(X, y)

In [137]:
pred=ada_opt.predict(df_test)

In [138]:
pred

array([4421.,  757., 1468., 4268.,  636., 1337., 4421.,  757., 1337.,
       4268.,  731., 1293., 4434.,  749., 1229., 4421.,  702., 1257.,
       4067.,  692., 1293., 4067.,  702., 1153., 4067.,  731., 1155.,
       4434.,  785., 1209., 4434.,  785., 1252., 4865., 1070., 1566.])

In [139]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':xpred})
submitdf.to_csv('new.csv',index=False)

In [142]:
from sklearn.tree import DecisionTreeRegressor
giniDecisionTree = DecisionTreeRegressor(random_state = 100,max_depth=3, min_samples_leaf=5)

giniDecisionTree.fit(X,y)

giniPred = giniDecisionTree.predict(df_test)
giniPred

array([4416.90909091,  677.66101695, 1095.69491525, 4416.90909091,
        677.66101695, 1095.69491525, 4416.90909091,  677.66101695,
       1095.69491525, 4416.90909091,  677.66101695, 1095.69491525,
       4416.90909091,  677.66101695, 1095.69491525, 4416.90909091,
        677.66101695, 1095.69491525, 4416.90909091,  801.85714286,
        801.85714286, 4416.90909091,  801.85714286,  801.85714286,
       4416.90909091,  801.85714286,  801.85714286, 4416.90909091,
        677.66101695, 1095.69491525, 4416.90909091,  677.66101695,
       1095.69491525, 4416.90909091,  677.66101695, 1095.69491525])

In [143]:
submitdf = pd.DataFrame({'S.No.':np.arange(1,37), 'Sales':giniPred})
submitdf.to_csv('new.csv',index=False)